/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700');

html, body{
    font-family: 'Overpass',sans-serif !important;
}

.text-center{
    text-align: center !important;
}

.u-margin-bottom-medium{
    margin-bottom: 5rem;
}

.row {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 4rem;
}

@media (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 4rem;
    }
}

@media (max-width: 56.25em) {
    .row {
        max-width: 50rem;
        padding: 0 3rem;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 2rem;
}

@media (max-width: 56.25em) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
}

@media (max-width: 56.25em) {
    .row [class^="col-"] {
        width: 100% !important;
    }
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) /2);
}

.row .col-1-of-3 {
    width: calc((100% - 2* 2rem) /3);
}

.row .col-2-of-3 {
    width: calc((2 * (100% - 2* 6rem) /3) + 6rem);
}

.row .col-1-of-4 {
    width: calc((100% - 3* 2rem) /4);
}

.row .col-2-of-4 {
    width: calc(2 *((100% - 3* 6rem) /4) + 6rem);
}

.row .col-3-of-4 {
    width: calc(3 *((100% - 3* 6rem) /4) + 2 * 6rem);
}

.fixedHeaderContainer{
    background-color: transparent;
    color: #2a3f7d;
    position: relative;
    padding-top: 20px;
}

.fixedHeaderContainer header .headerTitleWithLogo{
    display: none;
}

.fixedHeaderContainer header a h3{
    color:#000;
}

.navigationSlider .slidingNav ul li a{
    color: #2a3f7d;
    padding: 8px 1rem;
}

.fixedHeaderContainer header img{
    width: 200px;
    height: auto;
}

.homeContainer {
    padding-top: 8rem;
}

.button {
    margin-left: 1rem;
    padding: 9px 18px !important;
    color: #2a3f7d;
    background-color: transparent;
    border-radius: 0px !important;
    border: 2px solid #2a3f7d !important;
}

.btn-blue {
    color: #fff;
    background-color: #2a3f7d;
}

.gridBlock .blockElement {
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.imageAlignTop .blockImage {
    margin-bottom: 20px;
    max-width: 40px;
}
.blockContent{
    color: #2a3f7d;
}

.blockContent>div>span>p{
    color: #9ca4aa;
}

.launchSection h2{
    color: #fff;
    padding-top: 7.6rem;
}

.launchSection-raise {
    font-family: 'Overpass', sans-serif !important;
    padding: 1rem;
    display: inline-block;
}

.workSection{
    color: #2a3f7d;
    text-align: center;
    padding: 3rem 2rem;
}

.workSection-heading{
    margin-bottom: -1rem;
}

.workSection-details{
    margin: 0 auto;
    padding: 2rem;
    max-width: 720px;
}

.workSection-tab{
    text-align: left;
    padding: 2rem 6rem;
    margin-top: 3rem;
}

.terminal{
    padding: 0;
    /* width: 100%; */
    height: 100%;
}

.workSection-tab-heading{
    padding-bottom: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.workSection-tab-content{

}

.worthSection{
    text-align: center;
    color: #2a3f7d;
    padding-bottom: 5rem;
}

.worthSection-number{
    font-size: 2.5rem;
}

.worthSection-content{

}

.worthSection-companies{
    padding: 1rem;
}

.worthSection-companies-img{
    height: 80px;
    padding: .6rem 2rem;
}

.worthSection-seen{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

.worthSection-seen-icon{
    flex-direction: row;
}

.worthSection-seen-logo{
    /* padding: 1rem 10rem; */
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin: 1rem;
    height: 152px; 
    /* width: 20%; */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    /* flex: 1 1 auto;
    height: 100px;
    width: 200px;
    padding: 2rem 5rem; */
}

.gitter{
    color: #fff;
    fill: currentColor;
    background-color: #ed1965;
}

.github{
    background-color: #d2d2d2;
}

.footer-list {
    display: flex;
    list-style: none;
    /* justify-content: right; */
    text-align: center;
}

.footer-list-item {
    flex: 1 1 auto;
    /* display: inline-block; */
}

.footer-list-item-link {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .fixedHeaderContainer {
        position: fixed;
        background-color: #fff;
    }
    .navigationSlider .slidingNav {
        /* background: #2a3f7d; */
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    
    .navigationSlider .slidingNav ul li a {
        /* color: #fff; */
    }
    .navigationSlider .slidingNav ul {
        color: #fff;
        margin-top: 75px;
        background: #fff;
    }
    .mainContainer .wrapper .post{
        padding-top: 5rem;
    }
}

@media (max-width: 736px) {
    .projectTitle{
        font-size: 2rem;
    }
    .workSection-tab-row {
        display: grid;
    }
    .worthSection-seen-logo{
        height: 114px;
        width: 75%;
    }
    .workSection-tab {
        padding: 0rem;
    }
    .homeContainer {
        padding-top: 11rem;
    }
}

@media (max-width: 480px) {
    .projectTitle {
        font-size: 1.5rem;
    }
    .worthSection-seen-logo {
        height: 85px;
    }
}



.navPusher{
    padding-top: 0;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper{
    margin: 8px;
}

.helper{

}

.helper-box{
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    color: #2a3f7d;
}

.helper-box-heading{
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 0px;
}

.helper-box-details{
    font-size: 12px;
    padding-bottom: 10px;
}

.helper-box-social{
    padding: 5px;
}

.helper-box-social-icon {
    height: 20px;
    /* padding: 10px; */
}

.helper-box-social-link:not(:first-child){
    padding: 1rem;
}

.helper-box-social-icon:not(:first-child){
    margin-left: 20px;
}

.github{
    color: #2a3f7d;
    fill: currentColor;
    background: transparent;
    display: inline-block;
}

.linkedin{
    color: #2a3f7d;
    fill: currentColor;
}

.headerWrapper {
    max-width: 1100px;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
    color: #fff;
}
