/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@import url('https://fonts.googleapis.com/css?family=Overpass:400,600,700');

html, body{
    font-family: 'Overpass',sans-serif !important;
}

a{
    color:#2a3f7d;
}

.mainContainer a{
    color:#2a3f7d;
}

.text-center{
    text-align: center !important;
}

.u-margin-bottom-small{
    margin-bottom: 2rem;
}

.u-margin-bottom-medium{
    margin-bottom: 5rem;
}

.row {
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 4rem;
}

@media (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 4rem;
    }
}

@media (max-width: 56.25em) {
    .row {
        max-width: 50rem;
        padding: 0 3rem;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 2rem;
}

@media (max-width: 56.25em) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 4rem;
    }
}

@media (max-width: 56.25em) {
    .row [class^="col-"] {
        width: 100% !important;
    }
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) /2);
    padding-left:50px;
}

.row .col-1-of-3 {
    width: calc((100% - 2* 2rem) /3);
}

.row .col-2-of-3 {
    width: calc((2 * (100% - 2* 6rem) /3) + 6rem);
}

.row .col-1-of-4 {
    width: calc((100% - 3* 2rem) /4);
}

.row .col-2-of-4 {
    width: calc(2 *((100% - 3* 6rem) /4) + 6rem);
}

.row .col-3-of-4 {
    width: calc(3 *((100% - 3* 6rem) /4) + 2 * 6rem);
}

.fixedHeaderContainer{
    background-color: transparent;
    color: #2a3f7d;
    position: relative;
    padding-top: 20px;
}

.fixedHeaderContainer header .headerTitleWithLogo{
    display: none;
}

.fixedHeaderContainer header a, .col-1-of-3 a, .col-1-of-4 a, .blockElement a, .events-wrapper a{
    text-decoration:none !important;
}

.fixedHeaderContainer header a h3{
    color:#000!important;
}



.navigationSlider .slidingNav ul li a{
    color: #2a3f7d;
    padding: 8px 1rem;
}

.fixedHeaderContainer header img{
    width: 200px;
    height: auto;
}

.homeContainer {
    padding-top: 8rem;
}

.button {
    margin-left: 1rem;
    padding: 9px 18px !important;
    color: #2a3f7d;
    background-color: transparent;
    border-radius: 0px !important;
    border: 2px solid #2a3f7d !important;
}

.btn-blue {
    color: #fff !important;
    background-color: #2a3f7d;
}

.btn-white{
    color:#fff !important;
    border: 2px solid #fff !important;
}

.btn-white:hover{
    color:#2a3f7d !important;
    background-color:#fff !important;
    border: 2px solid #fff !important;
}

.gridBlock .blockElement {
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 3rem;
}

.imageAlignTop .blockImage {
    margin-bottom: 20px;
    max-width: 40px;
    height:47px !important;
}
.blockContent{
    color: #2a3f7d;
}

.blockContent>div>span>p{
    color: #9ca4aa;
}

.launchSection h2{
    color: #fff;
    padding-top: 7.6rem;
}

.launchSection-raise {
    font-family: 'Overpass', sans-serif !important;
    padding: 1rem;
    display: inline-block;
}

.workSection{
    color: #2a3f7d;
    text-align: center;
    padding: 3rem 2rem;
}

.workSection-heading{
    margin-bottom: -1rem;
}

.workSection-details{
    margin: 0 auto;
    padding: 2rem;
    max-width: 720px;
}

.workSection-tab{
    text-align: left;
    padding: 2rem 6rem;
    margin-top: 3rem;
}

.terminal{
    padding: 0;
    /* width: 100%; */
    height: 100%;
}

.workSection-tab-heading{
    padding-bottom: .5rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.workSection-tab-content{

}

.worthSection{
    text-align: center;
    color: #2a3f7d;
    padding-bottom: 50px;
}

.worthSection-number{
    font-size: 2.5rem;
}

.worthSection-content{

}

.worthSection-companies{
    padding: 1rem;
}

.worthSection-companies-img{
    height: 80px;
    padding: .6rem 2rem;
}

.worthSection-seen{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
}

.worthSection-seen-icon{
    flex-direction: row;
}

.worthSection-seen-logo{
    /* padding: 1rem 10rem; */
    padding: 1rem;
    width: 100%;
    text-align: center;
    margin: 1rem;
    height: 152px; 
    /* width: 20%; */
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
    /* flex: 1 1 auto;
    height: 100px;
    width: 200px;
    padding: 2rem 5rem; */
}

.gitter{
    color: #fff;
    fill: currentColor;
    background-color: #ed1965;
}

.github{
    background-color: #d2d2d2;
}

.footer-list {
    display: flex;
    list-style: none;
    /* justify-content: right; */
    text-align: center;
}

.footer-list-item {
    flex: 1 1 auto;
    /* display: inline-block; */
}

.footer-list-item-link {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .fixedHeaderContainer {
        position: fixed;
        background-color: #fff;
    }
    .navigationSlider .slidingNav {
        /* background: #2a3f7d; */
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    
    .navigationSlider .slidingNav ul li a {
        /* color: #fff; */
    }
    .navigationSlider .slidingNav ul {
        color: #fff;
        margin-top: 75px;
        background: #fff;
    }
    .mainContainer .wrapper .post{
        padding-top: 5rem;
    }
}

@media (max-width: 736px) {
    .projectTitle{
        font-size: 2rem;
    }
    .workSection-tab-row {
        display: grid;
    }
    .worthSection-seen-logo{
        height: 114px;
        width: 75%;
    }
    .workSection-tab {
        padding: 0rem;
    }
    .homeContainer {
        padding-top: 11rem;
    }
}

@media (max-width: 480px) {
    .projectTitle {
        font-size: 1.5rem;
    }
    .worthSection-seen-logo {
        height: 85px;
    }
    .docsSection-card-icons-link{
        padding: 6px !important;
    }
    .docsSection-card{
        padding: 1.5rem !important;
        height: 11rem !important;
    }
}



.navPusher{
    padding-top: 0;
}

.promoSection .promoRow .pluginRowBlock .pluginWrapper{
    margin: 8px;
}

.helperSection{
    padding-top: 3rem;
}



.helper-box{
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    color: #2a3f7d;
}

.helper-box-heading{
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 0px;
}

.helper-box-details{
    font-size: 12px;
    padding-bottom: 10px;
}

.helper-box-social{
    padding: 5px;
}

.helper-box-social-icon {
    height: 20px;
    /* padding: 10px; */
}

.helper-box-social-link:not(:first-child){
    padding: 1rem;
}

.helper-box-social-icon:not(:first-child){
    margin-left: 20px;
}

.github{
    color: #2a3f7d;
    fill: currentColor;
    background: transparent;
    display: inline-block;
}

.linkedin{
    color: #2a3f7d;
    fill: currentColor;
}

.headerWrapper {
    max-width: 1100px;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a{
    color: #fff;
}

.docsSection {

}

.docsSection-heading{

}

.docsSection-card {
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    padding: 3rem;
    height: 13rem;
}

.docsSection-card-heading {
    font-size: 20px;
    color: #2a3f7d;
    font-weight: 700;
    padding-bottom: 10px;
}

.docsSection-card-icons{
    text-align: center;
}

.docsSection-card-icons-link{
    padding: 1rem;
}

.docsSection-card-img{
    height: 40px;
    margin-top: 20px;
    color: #2a3f7d;
    fill: currentColor;
}

.docsSection-card-img:not(:first-child){
    margin-left: 30px;
}

.docsSection-card-details {

}

/* .telegram{
    color: #0088cc;
    fill: currentColor;
}

.reddit{
    color: #ff4500;
    fill: currentColor;
}

.gitter{
    color: #ed1965;
    fill: currentColor;
    background-clip: border-box;
    background: transparent;
} */

#sto-section{
    color:#fff;
}

#events-section .events-title{
font-size:23px;
font-weight:500;
line-height:36.8px;
}

#events-section .section-text{
    color:#999;
    font-size:16px;
    font-weight:400;
    line-height:32px;
}

.cd-horizontal-timeline {
    opacity: 0;
    margin: 2em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }
  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1;
  }
  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
  }
  .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
    /* these are used to create a shadow effect at the sides of the timeline */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 20px;
  }
  .cd-horizontal-timeline .events-wrapper::before {
    left: 0;
    background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
  }
  .cd-horizontal-timeline .events-wrapper::after {
    right: 0;
    background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
    background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
  }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #3F4B80;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-horizontal-timeline .events a {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    color: #383838;
    /* fix bug on Safari - text flickering while timeline translates */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  .cd-timeline-navigation{
      list-style:none !important;
  }

  .cd-horizontal-timeline .events ol{
    list-style:none !important;
  }

  .cd-horizontal-timeline .events ol li a{
    font-size:12px !important;
  }

  .cd-horizontal-timeline .events a::after {
    /* this is used to create the event spot */
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #3F4B80;
    border-color: #3F4B80;
  }
  .cd-horizontal-timeline .events a.selected {
    pointer-events: none;
  }
  .cd-horizontal-timeline .events a.selected::after {
    background-color: #3F4B80;
    border-color: #3F4B80;
  }
  .cd-horizontal-timeline .events a.older-event::after {
    border-color: #3F4B80;
  }
  @media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
      margin: 6em auto;
    }
    .cd-horizontal-timeline::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
  
  .cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
  }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-arrow.svg) no-repeat 0 0;
  }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
  .cd-timeline-navigation a.next {
    right: 0;
  }
  .no-touch .cd-timeline-navigation a:hover {
    border-color: #3F4B80;
  }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed;
  }
  .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px;
  }
  .no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
  }
  
  .cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
  }

  .cd-horizontal-timeline .events-content ol{
      list-style:none !important;
  }

  .cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  .cd-horizontal-timeline .events-content li.selected {
    /* visible event content */
    position: relative;
    z-index: 2;
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
    -webkit-animation-name: cd-enter-right;
    -moz-animation-name: cd-enter-right;
    animation-name: cd-enter-right;
  }
  .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-name: cd-enter-left;
    -moz-animation-name: cd-enter-left;
    animation-name: cd-enter-left;
  }
  .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
  }
  .cd-horizontal-timeline .events-content li > * {
    max-width: 800px;
    margin: 0 auto;
  }
  .cd-horizontal-timeline .events-content h2 {
    font-weight: bold;
    font-size: 2.6rem;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    line-height: 1.2;
  }
  .cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
  }
  .cd-horizontal-timeline .events-content em::before {
    content: '- ';
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.4rem;
    color: #959595;
  }
  .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
    line-height: 1.6;
  }
  @media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
      font-size: 46px;
      text-align: center;
    }
    .cd-horizontal-timeline .events-content em {
      font-size: 15px;
      text-align: center;
    }
    .cd-horizontal-timeline .events-content p {
      font-size: 15px;
      text-align: center;
    }
  }
  
  @-webkit-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-right {
    0% {
      opacity: 0;
      -moz-transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-right {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  @-moz-keyframes cd-enter-left {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateX(0%);
    }
  }
  @keyframes cd-enter-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      transform: translateX(0%);
    }
  }

  @media only screen and (max-width: 400px) {
    .selected p {
        font-size: 14px !important;
    }
}

.ck_form.ck_minimal {
    /* divider image */
    background: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    overflow: hidden;
    color: #666;
    font-size: 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    clear: both;
    margin: 20px 0px;
    text-align: center;
}


.ck_form.ck_minimal h3.ck_form_title {
    text-align: center;
    margin: 0px 0px 10px;
    font-size: 28px;
}

.ck_form.ck_minimal h4 {
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    padding-top: 0px;
    margin-top: 0px;
}

.ck_form.ck_minimal p {
    padding: 0px;
}

.ck_form,
.ck_form * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

.ck_form.ck_minimal .ck_form_fields {
    width: 100%;
    float: left;
    padding: 20px;
}

/* Form fields */

.ck_errorArea {
    display: none;
    /* temporary */
}

#ck_success_msg {
    padding: 10px 10px 0px;
    border: solid 1px #ddd;
    background: #eee;
}

.ck_form.ck_minimal input[type="text"],
.ck_form.ck_minimal input[type="email"] {
    font-size: 18px;
    padding: 10px 8px;
    width: 40%;
    border: 1px solid #d6d6d6;
    /* stroke */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /* border radius */
    background-color: #fff;
    /* layer fill content */
    margin-bottom: 5px;
    height: auto;
    float: left;
    margin: 0px;
    margin-right: 2%;
    height: 50px;
}

.ck_form input[type="text"]:focus,
.ck_form input[type="email"]:focus {
    outline: none;
    border-color: #aaa;
}

.ck_form.ck_minimal .ck_subscribe_button {
    width: 100%;
    color: #fff;
    margin: 0px;
    padding: 11px;
    font-size: 14px;
    background: #313a62;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /* border radius */
    cursor: pointer;
    border: none;
    text-shadow: none;
    width: 20%;
    float: left;
    height: 50px;
}


.ck_form.ck_minimal .ck_guarantee {
    color: #626262;
    font-size: 12px;
    text-align: center;
    padding: 15px 0px 0px;
    display: block;
    clear: both;
}

.ck_form .ck_powered_by {
    display: block;
    color: #aaa;
    font-size: 12px;
}

.ck_form .ck_powered_by:hover {
    display: block;
    color: #444;
}

.ck_converted_content {
    display: none;
    padding: 5%;
    background: #fff;
}

.ck_form.ck_minimal.width400 .ck_subscribe_button,
.ck_form.ck_minimal.width400 input[type="email"] {
    width: 100%;
    float: none;
    margin-top: 5px;
}

.ck_slide_up,
.ck_modal,
.ck_slide_up .ck_minimal,
.ck_modal .ck_minimal {
    min-width: 400px;
}

.page .ck_form.ck_minimal {
    margin: 50px auto;
    max-width: 600px;
}


/* v6 */

.ck_slide_up.ck_form_v6,
.ck_modal.ck_form_v6,
.ck_slide_up.ck_form_v6 .ck_minimal,
.ck_modal.ck_form_v6 .ck_minimal {
    min-width: 0 !important;
}

@media all and (min-width: 801px) {
    .ck_modal.ck_form_v6 .ck_form.ck_minimal {
        margin-left: -300px;
        width: 600px;
    }
}

.ck_modal.ck_form_v6 .ck_minimal .ck_subscribe_form {
    padding-top: 20px;
}

.ck_slide_up.ck_form_v6 .ck_minimal .ck_subscribe_form {
    padding-top: 10px;
}

.ck_form_v6 #ck_success_msg {
    margin-top: 15px;
    padding: 0px 10px;
}

.ck_slide_up.ck_form_v6 .ck_minimal+.ck_close_link {
    top: 5px;
}

.ck_slide_up.ck_form_v6 .ck_minimal h3.ck_form_title {
    margin-top: 5px;
}



.ck_form_bar {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    line-height: 1.5em;
    overflow: hidden;
    color: #666;
    font-size: 16px;
    border-bottom: solid 1px #d1d1d1;
    clear: both;
    margin: 20px 0px;
    padding: 20px;
    background: #f9f9f9;
    width: 100%;
    position: relative;
    position: fixed;
    top: 0px;
    margin: 0px;
    left: 0px;
    z-index: 500;
}

.ck_form_bar,
.ck_form_bar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ck_form_bar .ck_form_bar_title {
    font-size: 30px;
    color: #333;
    text-align: left;
    margin: 18px 0px;
    font-weight: normal;
}

.ck_form_bar_content {
    width: 50%;
    float: left;
}

.ck_form_bar_fields {
    width: 50%;
    float: left;
}


/* Form fields */

.ck_errorArea {
    display: none;
    /* temporary */
}

#ck_success_msg {
    padding: 10px 10px 0px;
    border: solid 1px #ddd;
    background: #eee;
    text-align: center;
}

.ck_form_bar input[type="text"],
.ck_form_bar input[type="email"] {
    font-size: 14px;
    padding: 10px 8px;
    width: 100%;
    border: 1px solid #d6d6d6;
    /* stroke */
    background-color: #fff;
    /* layer fill content */
    margin-bottom: 5px;
    height: auto;
    width: 58%;
    display: inline-block;
}

.ck_form_bar input[type="text"]:focus,
.ck_form_bar input[type="email"]:focus {
    outline: none;
    border-color: #aaa;
}

.ck_checkbox input.optIn {
    margin-left: -20px;
    margin-top: 0;
}

.ck_form_bar .ck_opt_in_prompt {
    margin-left: 4px;
}

.ck_form_bar .ck_opt_in_prompt p {
    display: inline;
}

.ck_subscribe_form {
    margin: 0px;
}

.ck_form_bar .ck_subscribe_button {
    color: #fff;
    margin: 10px 0px 0px;
    padding: 10px 0px;
    font-size: 16px;
    background: #0d6db8;
    cursor: pointer;
    border: none;
    text-shadow: none;
    display: inline-block;
    width: auto;
    width: 38%;
    padding-left: 2%;
    padding-right: 2%;
}

/* Trigger the vertical layout with media queries as well */

@media all and (max-width: 1023px) {

    .ck_form_bar_content,
    .ck_form_bar_fields {
        width: 100%;
        float: none;
    }
}

@media all and (max-width: 611px) {
    .ck_form_bar input[type="email"] {
        width: 100%;
    }

    .ck_form_bar .ck_subscribe_button {
        width: 100%;
    }
}